.banner {
    height: 90vh;
    width: 100%;
    background-color: $darkgreen;
    margin-top: 140px;
    margin-bottom: 50px;

    @include mobile {
        height: 380px;
    }

    @include tablet {
        height: 500px;
    }

    &__image{
        width: 100%;
        height: 100%;
        opacity: 0.45;
        object-fit: cover;

    }

    &__content{
        position: absolute;
        margin-left: 50px;
        top: 250px;
        width: 80%;
        
        @include mobile {
            top: 200px;
            margin: 20px 0 0 20px;
            width: 80%;
            height: 380px;
        }

        /* Animation CSS pour le contenu du bannière */
        animation: fadeInContent 4s ease-in-out forwards;
        animation-delay: 0.5s; /* Délai avant le début de l'animation */
            

        &-title{
           
            font-family: 'Roboto';
            text-align: left;
            font-size: 42px;
            color: $green;
            opacity: 1;
            font-weight: bold;
            margin: 0;
            
            @include mobile{
                width: 100%;
                font-size: 20px;
            }
        }

        &-text{
            font-size: 21px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 50px;
            width: 50%;

            @include mobile{
                font-size: 16px;
                width: 100%;
                margin-bottom: 20px;
            }

            p{
                color: $pink;
                opacity: 1;
                margin: 5px 0;
                text-align: left;
            }
        }

        button{
            @include mobile {
                position: absolute;
                bottom: 100px;
            }
        }
    
    }
}

@keyframes fadeInContent {
    from {
        opacity: 0;
        transform: translateY(20px); /* Déplacement vers le bas de 20px */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Pas de déplacement vertical */
    }
}