button {
    width: 150px;
    height: 40px;
    font-weight: bold;
    background: $pink;
    opacity: 0.95;
    color: $green;
    box-shadow: $box-shadow-card;
    border-radius: 50px;
    border: none;
    position: relative;
    z-index: 1;
    transition: transform 0.3s;

    &:hover {
        color: $green;
        background-color: $darkgreen;
        transform: scale(1.1);

        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $darkgreen;
        opacity: 0;
        z-index: -1;
        border-radius: 50px;
        transition : opacity 250ms;
        box-shadow: $box-shadows-hover;
    } 
}
  
  /* Style pour le bouton "Valider" */

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;

    button{
        width: 120px;
    }
}


.close-btn {
    position: absolute;
    width: 40px;
    top: 10px;
    right: 30px;
    color: #fff;
    padding: 8px 12px;
    border: none;

    cursor: pointer;
    border-radius: 4px;
}