.header {


    @include container;
    margin-bottom: 0;
    &__container{
        display: flex;
        background-color: $darkgreen;
        justify-content: space-between;

        @include mobile{

            flex-direction: column-reverse;
        }

        &-contact{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    &__contact{
        display: flex;
        flex-direction: row-reverse;    
        justify-content: space-between;
        height: 40px;
        width: 100%;

        @include tablet {
            width: 100%;
            background-color: $darkgreen;
            margin: 0;
        }

        &-details {
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 50%;
            background-color: $green;

            @include tablet {
                flex-direction: column;
                align-items: center;
                padding: 10px;
                gap: 10px;
            }

            a {
                justify-content: flex-end;
                align-items: center;
                text-decoration: none;
                display: flex;
                color: $pink;
                gap: 10px;

                &:hover {
                    color: $darkgreen;
                    transform: scale(1.10);
                }
            }
        }

        &-media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 50%;
            background-color: $pink;

            @include tablet {
                padding: 10px;
                align-items: flex-start;
            }

            a {
                color: $green;
                transition: transform 0.3s;
                text-decoration: none;

                @include tablet {
                    color: $green;
                }

                &:hover {
                    color: $darkviolet;
                    transform: scale(1.30);
                }
            }
        }
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;


}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-left: 30px;
    width: 200px;
    @include mobile{
        margin: 0;
    }
}