.header {


    @include container;
    margin-bottom: 0;
    &__container{
        display: flex;
        justify-content: space-between;
        height: 140px;
        position: fixed; /* Rend le header fixe */
        top: 0; /* Fixe le header en haut de la page */
        max-width: 1440px;
        width: 100%; /* Occupe toute la largeur de la fenêtre */
        z-index: 800; /* Assure que le header est au-dessus du contenu */
        background-color: $darkgreen; /* Ajoute une couleur de fond */


        @include mobile{
            height: auto;
            flex-direction: column-reverse;
        }

        &-contact{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    &__contact{
        display: flex;
        flex-direction: row-reverse;    
        justify-content: space-between;
        height: 40px;
        width: 100%;

        @include tablet {
            width: 100%;
            background-color: $darkgreen;
            margin: 0;
        }

        &-details {
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 50%;
            background-color: $green;

            @include tablet {
                flex-direction: column;
                align-items: center;
                padding: 10px;
                gap: 10px;
            }

            a {
                display: flex;
                justify-content: center;
                width: 100%;
                align-items: center;
                text-decoration: none;
                transition: transform 0.3s;
                display: flex;
                color: $pink;
                gap: 10px;

                &:hover {
                    color: $darkgreen;
                    transform: scale(1.50);
                }
            }
        }

        &-media {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 50%;
            height: 100%;
            background-color: $pink;

            @include tablet {
            }

            a {
                display: flex;
                justify-content: center;
                width: 100%;
                color: $green;
                transition: transform 0.3s;
                text-decoration: none;

                @include tablet {
                    color: $green;
                }

                &:hover {
                    color: $darkgreen;
                    transform: scale(1.5);
                }
            }
        }
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;


}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile{
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        position: relative;
        bottom: 25px;
        height: 80px;
    }
}
.logo {
    margin-left: 30px;
    width: 200px;
    @include mobile{
        margin: 0;
    }
}