.header__prestation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
//    background-color: $pink;

@include mobile {
  flex-direction: column;
  padding: 0 20px;
}


    &-details {
      padding: 0 20px;

      @include mobile {
        padding: 0;
      }

      p{

        text-align: left;

        @include mobile {
          margin-top: 0;
        }
      }
      ul {
  
        li {
          font-size: 18px;

          @include mobile {
            font-size: 16px;
          }
        }
      }
    }

    &-text{
      background-color: $green;
      width: 45%;
      height: 200px;
      padding: 0 20px;

      @include mobile {
        width: auto;
        height: auto;
      }

      @include tablet {
        height: auto;
      }
      
      p {  
        text-align: left;  
        color: $pink;

        @include mobile {
          text-align: center;
        }
      }
    }
  }
  

  
.header__prestation-text, .header__prestation-details {

  border-radius: 10px;
} 

.header__prestation-details p,
.header__prestation-text p {

  margin-bottom: 10px;
}
  