.header__prestation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
//    background-color: $pink;


    &-details {
      ul {
  
        li {
          font-size: 18px;
        }
      }
    }

    &-text{
      background-color: $green;
      width: 45%;
      height: 200px;
      p {    
        color: $pink;
      }
    }
  }
  

  
  .header__prestation-text, .header__prestation-details {
    border-radius: 10px;
    padding: 0 20px;
    

} 

  .header__prestation-details p,
  .header__prestation-text p {
    text-align: left;
    margin-bottom: 10px;
  }
  