.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
    z-index: 1000; /* Assure que le modal s'affiche au-dessus de tout le reste */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  
  &__content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; 

    &-title{
      display: flex;
      /* flex-direction: row; */
      /* justify-content: space-between; */
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
    }
    
    p{
      font-weight: bold;

      @include mobile{
        margin: 0;
      }
    }
    


    ul{
      gap: 230px;

      @include mobile {
        padding: 0 20px;
        margin: 0 0 10px 0;

      }
        li{
          margin-bottom: 10px;
          list-style: square;

          @include mobile {
            font-size: 14px;
            margin-bottom: 0;
          }
      }
    };
    img{
        width: 100%;

        @include mobile{
          height: 200px;
        }
    }
  }
  
  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: $green;

    @include mobile {
      top: 3px;
      width: 30px;
      height: 20px;
      font-size: 0.8rem;
    }
  }
} 