
.link-bold {
    text-decoration: none;
    font-weight: 800;
    color: $darkgreen;

    &:hover{
        color: $pink;
    }
}




#contact{
    background: $green;

    h2{
    //color: $pink;
    }
    p{color:$pink
    }
}

